In [6]:
import numpy as np
a = [0,1]
for i in range(0,14):
    b = a[i]+a[i+1]
    a.append(b)

np.savetxt('fib10_15.txt',a[6:15],fmt = '%d')

In [7]:
def hanoi(a,b,c,n):
    if n==1:
        print(a,'->',c)
    else:
        hanoi(a,c,b,n-1)
        hanoi(a,b,c,1)
        hanoi(b,a,c,n-1)
    return 0

a,b,c,n = 'a','b','c',5
hanoi(a,b,c,5)

a -> c
a -> b
c -> b
a -> c
b -> a
b -> c
a -> c
a -> b
c -> b
c -> a
b -> a
c -> b
a -> c
a -> b
c -> b
a -> c
b -> a
b -> c
a -> c
b -> a
c -> b
c -> a
b -> a
b -> c
a -> c
a -> b
c -> b
a -> c
b -> a
b -> c
a -> c

0

In [15]:
def countbin(n):
    cnt = 0
    if n == 1 | n == 0:
        print(1)
    else:
        while n>1:
            c = n%2
            n = n//2
            if c == 1:
                cnt = cnt+1
    cnt = cnt+1
    return cnt

a = int(input('input n:'))
print('%d'% countbin(a))

5

In [2]:
import pandas as pd
dat = pd.read_csv('iris.csv')
dat

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
print(dat.max())

sepallength               7.9
sepalwidth                4.4
petallength               6.9
petalwidth                2.5
class          Iris-virginica
dtype: object

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(10).reshape(2,5))
np.arange(10).reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])